%container {
    text-align: center;
    margin-top: 3.125em;
}

%header {
    font-weight: 700;
    color: var(--clr-primary-900);
}

%header-span {
    font-weight: 400;
    color: #86868b;
}

.language-container {
    @extend %container;
}

.header {
    @extend %header;

    &-span {
        @extend %header-span;
    }
}

.language-center-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

%language-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375em 0.5625em;

    width: 6.25em;
    height: 2.1875em;

    background: var(--clr-white-black);

    border: 0.0625em solid var(--clr-primary-500);
    box-sizing: border-box;
    border-radius: 0.375em;

    cursor: pointer;
    color: var(--clr-primary-500);
}

.option-nepali-button {
    @extend %language-btn;
    margin-right: 0.625em;

    &.active {
        background: #505565;
        border: 0.0625em solid #505565;
        color: white;
    }
}

.option-us-button {
    @extend .option-nepali-button;
}

.nepal-flag {
    height: 1.4375em;
    width: 1.4375em;
    margin-right: 0.625em;
}

.us-flag {
    @extend .nepal-flag;
    height: 1.25em !important;
}
