.tab-content-container {
    display: flex;
    gap: 0.5em;
    flex-direction: column;

    .single-tab-content-link:nth-child(odd) {
        background-color: var(--clr-theme-primary);
    }
    .single-tab-content-link:nth-child(even) {
        background-color: var(--clr-off-white);
    }
}
