.exchange-rate-container {
    width: 80%;
    text-align: center;

    .first-heading {
        text-align: left;
        padding-left: 5.3125em;
    }

    td {
        border-bottom: 0.0625em solid rgba(180, 184, 198, 0.25);
        padding: 0.625em;
    }

    .exchange-rate-body-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 1;

        padding-left: 3.125em;

        .flag {
            width: 3.375em;
            height: 2.025em;

            box-shadow: 0.0625em 0.0625em 0.3125em var(--clr-theme-primary);

            border-radius: 0.375em;
        }

        .exchange-rate-list-left-text {
            display: flex;
            flex-direction: column;
            margin-left: 0.625em;

            .exchange-rate-list-left-text-heading {
                display: flex;

                .conditional-for-each-amount {
                    margin-left: 0.625em;
                    font-size: 0.875rem;

                    color: var(--clr-theme-primary);
                }
            }

            .country-full-name {
                text-align: left;
                color: var(--clr-theme-primary);
            }
        }
    }
}

$flagIconPath: '/assets/images/countries/';
$flags: AED, AUD, BHD, CAD, CHF, CNY, DKK, EUR, HKD, INR, KRW, KWD, QAR, SAR,
    SEK, SGD, THB, GBP, USD, MYR, JPY;

@each $flag in $flags {
    .flag--#{$flag} {
        background: url("/assets/images/countries/" + #{$flag} + ".png")
            no-repeat
            center
            #fff;
        background-size: contain;
    }
}
