.advertisement-section {
    background-color: var(--clr-off-white);

    width: 100%;

    .advertisement-container {
        height: 8.75em;
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.container {
    .main-news-section {
        .main-news-dashboard {
            display: flex;
            margin-top: 1em;
            .main-news-right-side {
                margin-left: 1em;
                width: 100%;
            }
        }
    }
}
