@import 'global/globalCSS/global.scss';

.container {
    display: flex;
    gap: 1em;
    flex-direction: column;

    .advertisement-section-one {
        background-color: var(--clr-off-white);
        width: 125%;
        height: 8.75em;
        margin-left: -12.5%;

        .advertisement-container-one {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 100%;
            width: 80%;
        }
    }
    .main-news-section {
        .main-news-dashboard {
            display: flex;

            .main-news-left-side {
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 1.9em;
            }
            .main-news-right-side {
                margin-left: 1em;
                width: 40%;

                .advertisement-section-two {
                    margin-top: 0.5em;

                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    width: 100%;

                    img {
                        width: 100%;
                        border-radius: 0.25em;
                    }
                }
            }
        }
    }

    .short-widget-number-one {
        background-color: var(--clr-off-white);
        width: 125%;
        height: 18.75em;
        margin-left: -12.5%;

        .short-widget-number-one-container {
            height: 100%;
            width: 80%;

            margin: 2em 0 2em 10%;

            display: flex;
            gap: 1em;

            .share-market-widget,
            .forex-widget,
            .weather-widget {
                flex: 1;
            }
        }
    }

    .advertisement-section-three {
        background-color: var(--clr-off-white);
        width: 125%;
        height: 8.75em;
        margin-left: -12.5%;

        .advertisement-container-three {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 100%;
            width: 80%;
        }
    }
}

.footer-section {
    width: 100%;
    background-color: var(--clr-red-grey);
}
