@import 'global/globalCSS/global.scss';

.tabs {
    width: 100%;
    border: 0.0625em solid var(--clr-border-grey);
    border-radius: 0.25em;

    .tabs-nav {
        background-color: var(--clr-theme-red);
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 0.25em 0.25em 0 0;
        border: 0.0625em 0.0625em 0 0.0625em solid var(--clr-border-grey);
        @include pxToem(height, 40, em);

        & .tab-heading:not(:last-child) {
            &:after {
                content: '';
                background: white;
                position: absolute;
                bottom: 25%;
                right: 0;
                height: 50%;
                width: 1px;
            }
        }

        .tab-heading {
            cursor: pointer;
            flex: 1;
            color: var(--clr-white);
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tabs-content {
        height: 41.375em;
        overflow: auto;
    }

    .tabs-add-more {
        background-color: var(--clr-theme-red);
        border-radius: 0 0 0.25em 0.25em;
        color: var(--clr-white);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2.3;

        .tabs-add-more-text {
        }

        .tabs-add-more-icon {
            margin-left: 0.5em;
            display: flex;
        }
    }
}
