$names: main-news, video-section, horoscopes, quick-navigation;

@each $name in $names {
    .#{$name}-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 0.0625em solid var(--clr-theme-red);
    }
    .#{$name}-title {
        color: var(--clr-primary-900);
    }
    .#{$name}-see-all-tag {
        font-size: 0.9em;
        color: var(--clr-theme-red);
        text-decoration: none;
    }
}
