@import 'global/globalCSS/global.scss';

.inner-circle-triangle {
    @include pxToem(padding, 10, em);
    @include pxToem(height, 50, em);
    @include pxToem(width, 50, em);
    border-radius: 50%;
    transition: background-color 0.3s;
    background-color: transparent;

    &.small {
        @include pxToem(height, 40, em);
        @include pxToem(width, 40, em);
        // @include pxToem(padding, 10, em);
    }

    &.medium {
        @include pxToem(height, 50, em);
        @include pxToem(width, 50, em);
        // @include pxToem(padding, 10, em);
    }

    &.large {
        @include pxToem(height, 75, em);
        @include pxToem(width, 75, em);
        // @include pxToem(padding, 15, em);
    }
}
