.item-container {
    position: relative;
    margin-right: 1.25em;

    .rank-number {
        position: absolute;
        top: 0.3125em;
        left: 0;
        font-size: 1.75rem;

        color: var(--clr-theme-primary);
    }

    .item-details {
        display: flex;
        flex-direction: column;
        margin: 1.875em 0 0 1.875em;

        .item-bottom-section {
            display: flex;
            line-height: 1;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;

            .item-bottom-section-desc {
                display: flex;
                color: var(--clr-theme-primary);

                .item-bottom-section-icon {
                    height: 1em;
                    width: 1em;
                }
            }
            .option-ellipse {
                cursor: pointer;
            }
        }
    }
}
