.news-article-container {
    margin-top: 0.9375em;
    max-width: 27.5em;
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .news-article-image {
        border-radius: 0.75em;
        max-height: 13.75em;
        max-width: 27.5em;
    }

    .news-article-text-container {
        font-size: 1em;

        .news-agency-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--clr-theme-primary);

            .top-na-date {
                line-height: 1;
                display: flex;
                align-items: center;

                .news-agency-icon {
                    height: 1em;
                    width: 1em;

                    margin-right: 0.375em;
                }
            }
        }

        .news-article-title {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;

            color: var(--clr-primary-900);
            font-size: 1.125em;
            font-weight: 600;

            text-align: center;
        }

        .tags-ellipse-option {
            display: flex;
            justify-content: space-between;
            position: relative;

            .news-article-tags {
                color: var(--clr-theme-primary);

                display: flex;

                img {
                    margin-right: 0.75em;
                }

                .news-article-tag {
                    margin-right: 0.75em;
                }
            }

            .extra-options {
                width: 1.25em;
                text-align: center;
            }
        }
    }
}

.news-article-container {
    display: flex;
    flex-direction: column;

    .news-agency-text {
        display: flex;
        justify-content: space-between;
        .top-na-date {
            .news-agency-icon {
                height: 1em;
                width: 1em;
            }
        }
    }
}
