.container {
    scroll-snap-type: y mandatory;
}

.news-topic-container {
    .news-topic-selector {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        .news-topic-item {
            text-align: center;
            flex: 1;
            text-decoration: none;
            color: var(--clr-primary-500);
            font-weight: 700;
            height: 100%;
            border-bottom: 0.1875em solid transparent;
            padding: 1.25em;

            &:hover {
                border-bottom: 0.1875em solid var(--clr-theme-red);
                color: var(--clr-primary-900);
            }
        }
    }

    .news-topic-filter {
        background-color: var(--clr-off-white);
        display: flex;
        align-items: center;

        .news-topic {
            // flex: 1;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            color: var(--clr-primary-500);

            padding: 0.625em;

            margin-left: 1.875em;

            &:hover {
                color: var(--clr-theme-red);
            }
        }

        .active-filter {
            color: var(--clr-theme-red) !important;
        }
    }
}

.news-articles-heading {
    margin-top: 1.25em;
    color: var(--clr-primary-900);

    &::after {
        content: '';
        display: block;
        width: 5%;
        border-bottom: 0.1875em solid var(--clr-theme-red);
    }
}

.news-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 0.5em;

    margin-bottom: 1.25em;

    .spinner {
        width: 300%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.is-active {
    border-bottom-color: var(--clr-theme-red) !important;
}

.news-videos-heading {
    margin-bottom: 1.875em;
    color: var(--clr-primary-900);

    &::after {
        content: '';
        display: block;
        width: 5%;
        border-bottom: 0.1875em solid var(--clr-theme-red);
    }
}

.video-container {
    margin-bottom: 3.125em;

    .video-item {
        display: flex;
        flex-direction: column;
        margin: 0 0.3125em;

        .video-title {
            color: var(--clr-primary-500);
            font-weight: 600;
            font-size: 1.125rem;
        }

        .video-channel-description {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            color: var(--clr-theme-primary);
            font-weight: 400;
            font-size: 0.875rem;

            .video-channel-icon {
                height: 0.875em !important;
                width: 0.875em !important;

                margin-right: 0.375em;
            }
        }
    }
}

.most-read-container {
    .most-read-heading {
        color: var(--clr-primary-900);

        &::after {
            content: '';
            display: block;
            width: 5%;
            border-bottom: 0.1875em solid var(--clr-theme-red);
        }
    }

    .most-read-items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;

        justify-content: flex-start;

        margin-bottom: 1.25em;
    }
}
