@import '../../global/globalCSS/global.scss';

.interested-topics-container {
    @extend %container;
}

.header {
    @extend %header;
    &-span {
        @extend %header-span;
    }
}

.grid {
    margin: 3.125em 20%;
    columns: auto 18.75em;
    column-gap: 0.625em;
}
