@import '../../global/globalCSS/global.scss';

.interested-topics-container {
    @extend %container;
}

.header {
    @extend %header;
    &-span {
        @extend %header-span;
    }
}

.grid {
    margin: 50px 20%;
    columns: auto 300px;
    column-gap: 10px;
}
