.currency-converter-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
}

.selector-one,
.selector-two {
    display: flex;
    line-height: 1;
    border: 0.0625em solid var(--clr-theme-primary);
    position: relative;
    border-radius: 0.375em;

    & .react-select-one,
    .react-select-two {
        border-right: 0.0625em solid var(--clr-theme-primary);
        margin-right: 0.3125em;
    }

    & .currency-input-number-field {
        font-size: 1rem !important;
        font-family: var(--font-family-primary);
        outline: none;
        border: none;
        border-radius: 0.375em;
    }

    & input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    & input[type='number'] {
        -moz-appearance: textfield;
    }
}
