.item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 171px;
    height: 100%;

    color: var(--clr-white);
    text-decoration: none;

    cursor: pointer;

    &:hover .item-desc {
        border-bottom-color: var(--clr-white);
    }
}

.item-desc {
    border-bottom: 0.125em solid transparent;
}

.has-submenu {
    position: relative;

    .item-desc {
        display: flex;
        align-items: center;
        line-height: 1;
        position: relative;

        .submenu-icon-container {
            position: absolute;
            top: -0.0625em;
            right: -1em;
            .submenu-icon {
                height: 0.4em;
                width: 0.8125em;
                margin-left: 0.0625em;
            }
        }
    }
}

.sub-content {
    position: absolute;
    top: calc(var(--navbar-height) / 3);
    right: 0;
    width: 20em;
    background-color: var(--clr-theme-red);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.75em;

    .sub-item {
        padding: 0.5em;
        text-decoration: none;
        color: var(--clr-white);
        width: 50%;
        text-align: left;

        .sub-item-text-container {
            .sub-item-text {
                border-bottom: 0.125em solid transparent;
            }

            &:hover .sub-item-text {
                border-color: var(--clr-white);
            }
        }
    }
}

.nav-item-picture {
    height: 1.4375em;
    width: 1.4375em;
    margin-right: 0.625em;
}

.is-active {
    border-bottom-color: var(--clr-white);
}
