@import 'global/globalCSS/global';
.item {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 171px;
    @include pxToem(width, 171, rem);
    height: 100%;

    color: var(--clr-white);
    text-decoration: none;

    cursor: pointer;

    &:hover .item-desc {
        border-bottom-color: var(--clr-white);
    }
}

.item-desc {
    border-bottom: 0.125em solid transparent;
}

.has-submenu {
    position: relative;

    .item-desc {
        display: flex;
        align-items: center;
        line-height: 1;
        position: relative;

        .submenu-icon {
            position: absolute;
            top: 0em;

            right: -1.2em;
            transition: transform 0.5s;

            &.open {
                transform: rotate(180deg);
            }
        }
    }
}

.sub-content {
    position: absolute;
    top: calc(var(--navbar-height) / 2.6);
    right: 0em;
    width: 20em;
    background-color: var(--clr-theme-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.75em;
    z-index: 100;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.3);

    .sub-item {
        padding: 0.5em;
        text-decoration: none;
        color: var(--clr-primary-900);
        width: 50%;
        text-align: left;

        .sub-item-text-container {
            .sub-item-text {
                font-weight: 700;
                border-bottom: 0.125em solid transparent;
            }

            &:hover .sub-item-text {
                color: var(--clr-theme-red);
                border-color: var(--clr-theme-red);
            }
        }
    }
}

.nav-item-picture {
    height: 1.4375em;
    width: 1.4375em;
    margin-right: 0.625em;
}

.is-active {
    border-bottom-color: var(--clr-white-black);
}
