.button-container {
    .button-submit {
        cursor: pointer;

        color: var(--clr-white-black);

        border: none;
        border-radius: 0.375em;

        margin-bottom: 1.25em;
        font-size: 1rem;

        &.small {
            height: 3em;
            width: 7em;
            margin: 0;
        }

        &.large {
            height: 3em;
            width: 23.375em;
        }

        &.red {
            background-color: var(--clr-theme-red);
            font-size: 0.9rem;
        }

        &.grey {
            background-color: var(--clr-primary-900);
        }
    }
}
