.button-container {
    .button-submit {
        cursor: pointer;

        color: var(--clr-white);
        background-color: var(--clr-primary-500);

        border: none;
        border-radius: 0.375em;

        height: 3em;
        width: 23.375em;

        margin-bottom: 1.25em;

        .button-description {
            font-size: 1.25em;
        }
    }
}
