.carousel-thumbnail {
    object-fit: cover;
    border-radius: 0.375em;
    height: 10.625em;
    box-shadow: 0.0625em 0.0625em 0.3em var(--clr-theme-primary);
}

.slick-slider {
    .slick-prev {
        position: absolute;
        left: 16px;
        color: var(--clr-grey);
        height: 100%;
        width: 35px;
        z-index: 10;

        &:hover {
            color: var(--clr-white);
        }
    }

    .slick-next {
        position: absolute;
        right: 16px;
        height: 100%;
        width: 35px;
        color: var(--clr-grey);
        z-index: 10;

        &:hover {
            color: var(--clr-white);
        }
    }
}
