.carousel-thumbnail {
    object-fit: cover;
    border-radius: 0.375em;
    height: 10.625em;
    box-shadow: 0.0625em 0.0625em 0.0625em var(--clr-theme-primary);
}

.owl-carousel {
    position: relative;

    .owl-prev,
    .owl-next {
        position: absolute;
        margin: 0 !important;
        top: 0;
        height: 10.625em;
        width: 2.5em;
        font-size: 2.8125em !important;
        border-radius: 0 !important;
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }
}
