.carousel-thumbnail {
    object-fit: cover;
    border-radius: 0.375em;
    height: 10.625em;
    box-shadow: 0.0625em 0.0625em 0.3em var(--clr-theme-primary);
}

.owl-carousel {
    position: relative;

    .owl-prev,
    .owl-next {
        position: absolute;
        margin: 0 !important;
        top: 0;
        height: 100%;
        width: 1.25em;
        font-size: 2.8125rem !important;
        border-radius: 0 !important;

        &:hover {
            background-color: black !important;
            opacity: 0.4;
            border-radius: 0.2em !important;
        }
    }

    .owl-prev {
        left: 0.09em;
    }

    .owl-next {
        right: 0.09em;
    }
}
