.featured-video-container {
    .video-link {
        figure {
            position: relative;

            .video-play-button {
                position: absolute;
                top: 0;
            }
        }
    }
}
