// Implement this block of code after everything finished.
// This takes into account the user's theme preference and if it is dark, implements a dark // color scheme.

// @media (prefers-color-scheme: dark) {
//   :root {*
//     --clr-theme-primary: #1d1d1f;
//     --clr-primary-500: #eee;
//     --clr-primary-900: #fff;
//   }
// }

:root {
    // Light mode colors, make the entire thing in alphabetical order for the love of God. Please.
    --clr-background: #ffffff;
    --clr-black-white: #000;
    --clr-light-blue: #4cb3f3;
    --clr-dark-blue: #1e85c5;
    --clr-border-grey: #dadce0;
    --clr-grey: #9a9a9a;
    --clr-off-white: #eeeeee;
    --clr-primary-500: #505565;
    --clr-primary-900: #1d1d1f;
    --clr-red-white: #a90000;
    --clr-theme-primary: #ffffff;
    --clr-theme-primary-rgb: rgb(180, 184, 198);
    --clr-theme-red: #a90000;
    --clr-white: #ffffff;
    --clr-white-black: #fff;
    --clr-green: #45a48e;
    --clr-slider: #e5e5e5;
    --clr-white-primary-900: #fff;
    --clr-black: #000;

    --clr-light-grey: #b4b8c6;

    --clr-video-play-button-grey: rgba(253, 253, 253, 0.55);

    --navbar-height: 8.4375em;
    --navbar-background: #b4b8c6;

    // Font family
    --font-family-primary: 'Mukta', sans-serif;

    --singlePageWidth: 43.75em;
}

.dark {
    //   Dark mode colors
    --clr-black-white: #ffffff;
    --clr-off-white: #343538;
    --clr-primary-500: #eee;
    --clr-primary-900: #fff;
    --clr-red-white: #ffffff;
    --clr-theme-primary: #1d1d1f;
    --clr-white-black: #000000;
    --clr-white-primary-900: #1d1d1f;
}

body {
    font-family: var(--font-family-primary);
    background: var(--clr-theme-primary);
    color: var(--clr-primary-500);
}

.loading-curent {
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.loaded {
    opacity: 0;
    transition: all 500ms ease-in-out 1s;
}

.loading {
    height: 6.25em;
    width: 6.25em;
}

// CSS transitions
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in-out;
}
