.selector-flag {
    height: 0.8125em;
    width: 1.125em;
    margin-right: 0.625em;
    border-radius: 0.125em;
    box-shadow: 0.0625em 0.0625em 0.125em var(--clr-theme-primary);
}

.input-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
