.container {
    .single-news-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .top-container {
            width: var(--singlePageWidth);

            .title-container {
                .title-heading {
                    color: var(--clr-primary-900);
                    text-align: center;
                    font-size: 2em;
                    margin-bottom: 0.625em;
                }
            }

            .image-tag-container {
                .picture-container {
                    .news-picture {
                        border-radius: 0.375em;
                        width: 100%;
                    }
                }

                .tag-na-date-container {
                    color: var(--clr-theme-primary);
                    display: flex;
                    flex-direction: column;

                    .na-date {
                        display: flex;
                        justify-content: space-between;

                        .news-agency {
                            .na-logo {
                                height: 0.6875em;
                                width: 1em;
                                margin-right: 0.625em;
                            }
                        }
                    }

                    .tags-container {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.625em;

                        .news-article-tag {
                            margin-left: 0.9375em;
                        }
                    }
                }
            }

            .content-container {
                font-size: 1.25em;
                text-align: justify;
            }
        }

        .body-container {
            width: var(--singlePageWidth);

            .comment-box-container {
                font-size: 1.25em;
                font-weight: 700;
                color: var(--clr-primary-900);
                text-align: left;
                margin-bottom: 1.25em;

                .comment-heading {
                    margin-bottom: 1.25em;
                }

                .comment-sub-heading {
                    font-weight: 700;
                }

                .comment-form {
                    text-align: center;

                    .comment-input {
                        width: 100%;
                        box-shadow: 0 0.125em 0.75em rgba(2, 2, 2, 0.15);
                        border-radius: 0.25em;
                        outline: none;
                        border: none;

                        font-size: 1em;
                        font-family: inherit !important;

                        // To increase the size of the input text field
                        padding-left: 0.4em;
                        padding-top: 0.4em;
                        padding-bottom: 11.25em;

                        margin-bottom: 1.25em;

                        resize: none;
                    }
                }
            }
        }
    }
}
