.news-article-container {
    width: 55em;
    border-radius: 0.25em;
    display: flex;
    cursor: pointer;
    border: 0.0625em solid var(--clr-border-grey);
    padding: 1em;
    justify-content: space-between;
    margin-top: 1em;

    .news-agency-text-container {
        color: var(--clr-theme-primary);
        width: 39em;
        height: 12em;
        position: relative;

        .news-agency-container {
            display: flex;
            justify-content: space-between;
            .news-agency {
                line-height: 1;
                display: flex;
                align-items: center;

                &:hover {
                    text-decoration: underline;
                }

                .news-agency-icon {
                    height: 1em;
                    width: 1em;

                    border-radius: 0.25em;

                    margin-right: 0.375em;
                }
            }
        }

        .news-article-text-link {
            text-decoration: none;
            color: var(--clr-black);

            .news-article-title {
                font-size: 1.75em;
                font-weight: 500;
            }
        }

        .news-date {
            color: var(--clr-grey);
            font-size: 0.9em;
        }

        .news-article-tags {
            display: flex;
            align-items: center;
            color: var(--clr-grey);

            .news-article-tag {
                margin-left: 0.5em;
            }
        }

        .see-all-tag-link {
            text-decoration: none;
            position: absolute;
            bottom: 0;
            .see-all-tag-container {
                .see-all-tag {
                    color: var(--clr-theme-red);
                    font-size: 1em;
                    font-weight: 600;
                }
            }
        }
    }

    .news-article-image-link {
        text-decoration: none;
        margin-left: 1em;

        .news-image-container {
            border-radius: 0.25em;
            .news-article-image {
                width: 12.5625em;
                height: 12em;
                border-radius: 0.25em;
            }
        }
    }

    .extra-options {
        transform: rotate(90deg);
    }
}
